@using Cc.Upt.Common.Enumerations
@using Cc.Upt.Web.AuthenticationWeb;
@{
    var currentUser = User as AuthorizedPrincipal;

    if (currentUser == null)
    {
        throw new Exception("Usuario no logueado");
    }
}
<!DOCTYPE html>
<html class="fixed">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Actualizador</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    @Styles.Render("~/css/upt-css")
    @Scripts.Render("~/js/upt-modernizr")*


    @{
        var values = ViewContext.RouteData.Values;
        var actionName = values["action"].ToString();
        var controllerName = values["controller"].ToString();

    }

</head>

<body>
    <section class="body">

        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <a href="#" class="logo">
                    <span class="fc-header-title">
                        <h2>
                            Actualizador
                        </h2>
                    </span>
                </a>
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <!-- start: search & user box -->
            <div class="header-right">

                <form action="#" class="search">
                    <div class="input-group input-search">
                        <input type="text" class="form-control" name="q" id="q" placeholder="Buscar...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>

                <span class="separator"></span>


                <div id="userbox" class="userbox">
                    <a href="#" data-toggle="dropdown">
                        <figure class="profile-picture">

                        </figure>
                        <div class="profile-info">
                            <span class="name">@currentUser.Name @currentUser.LastName</span>
                            <span class="role">@currentUser.Profile.GetDescription()</span>
                        </div>

                        <i class="fa custom-caret"></i>
                    </a>

                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="#"><i class="fa fa-user"></i> Mi perfil</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="@Url.Action("ResetPassword", "Password", new { area = "Basic", userId = currentUser.Id })"><i class="fa fa-lock"></i> Cambiar clave</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="@Url.Action( "LogOut", "Login", new { area = "" })"><i class="fa fa-power-off"></i> Cerrar sesión</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">
                <div class="sidebar-header">
                    <div class="sidebar-title">
                        Navigation
                    </div>
                    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>
                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <ul class="nav nav-main">
                                <li>
                                    <a href="@Url.Action("Index", "Release")">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>

                                @if (User.Identity.IsAuthenticated && currentUser.Profile == Cc.Upt.Domain.Enumerations.Profile.Administrator)
                                {
                                    <li class="nav-parent">
                                        <a>
                                            <i class="fa fa-copy" aria-hidden="true"></i>
                                            <span>Administración</span>
                                        </a>
                                        <ul class="nav nav-children">
                                            <li>
                                                <a href="@Url.Action("Index", "User")">
                                                    Usuarios
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "Company")">
                                                    Compañias
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "Parameter")">
                                                    Parametrización
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                }
                                @if (User.Identity.IsAuthenticated && (currentUser.Profile == Cc.Upt.Domain.Enumerations.Profile.Administrator || currentUser.Profile == Cc.Upt.Domain.Enumerations.Profile.PackageCreator))
                                {
                                    <li class="nav-parent">
                                        <a>
                                            <i class="fa fa-tasks" aria-hidden="true"></i>
                                            <span>Paquetes</span>
                                        </a>
                                        <ul class="nav nav-children">
                                            <li>
                                                <a href="@Url.Action("Create", "Release")">
                                                    Crear actualización
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </aside>
            <!-- end: sidebar -->
            <section role="main" class="content-body">
                <header class="page-header">
                    <h2>@actionName</h2>
                    <div class="right-wrapper pull-right">
                        <ol class="breadcrumbs">
                            <li>
                                <a href="#">
                                    <i class="fa fa-home"></i>
                                </a>
                            </li>
                            <li><span>@controllerName</span></li>
                            <li><span>@actionName</span></li>
                        </ol>

                        <a class="sidebar-right-toggle">
                            &nbsp;
                        </a>
                    </div>
                </header>
                <!-- start: page -->
                <div class="panel">
                    <div class="panel-body">
                        @RenderBody()
                    </div>
                </div>
                <!-- end: page -->
            </section>
        </div>
    </section>

    @Scripts.Render("~/js/upt-js")
    @RenderSection("scripts", required: false)



</body>
</html>
