@model Cc.Upt.Domain.Dto.LoginDto

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Updater</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    @Styles.Render("~/css/upt-css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <section class="body-sign">
        <div class="center-sign">
            <a href="/" class="logo pull-left">
                <span class="fc-header-title">
                    <h2>
                        Actualizador
                    </h2>
                </span>
            </a>

            <div class="panel panel-sign">
                <div class="panel-title-sign mt-xl text-right">
                    <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Recuperar clave</h2>
                </div>
                <div class="panel-body">


                    <form id="form" method="post" action="@Url.Action("VerifyPasswordRecover", "Login")">

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group mb-lg">
                            <label>E-mail</label>
                            <div class="input-group input-group-icon">
                                <input type="email" class="form-control input-lg" name="Email" required data-rule-required="true" data-msg-required="Éste campo es requerido" data-rule-email="true" data-msg-email="Correo incorrecto"/>
                                <span class="input-group-addon">
                                    <span class="icon icon-lg">
                                        <i class="fa fa-send"></i>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-primary hidden-xs">Recuperar</button>
                                <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Recuperar</button>
                            </div>
                        </div>


                        <span class="mt-lg mb-lg line-thru text-center text-uppercase">
                            <span>
                                &nbsp;
                            </span>
                        </span>

                        <div class="row">
                            <div class="col-sm-12 text-center">
                                @Html.ActionLink("Iniciar sesión", "Index")
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <p class="text-center text-muted mt-md mb-md">&copy; Copyright @DateTime.Now.Year. Todos los derechos reservados por <a href="#">CcSoftware</a>.</p>
        </div>
    </section>

    @Scripts.Render("~/js/upt-js")

</body>
</html>